# Extract

### Import dependencies

In [1]:
# Import the various dependencies and setup
import os
import csv
import pandas as pd
from sqlalchemy import create_engine
from config import username, password
pd.options.mode.chained_assignment = None

### Store CSV data into DataFrame

In [2]:
# Map the path where the input csv file is located
stocks_csv_file = "Output Data/tesla_stocks.csv"

# Specify the delimiter to read and store the csv file into a Pandas DataFrame
stocks_df = pd.read_csv(stocks_csv_file, encoding = "UTF-8")

# Display the DataFrame columns
stocks_df.head(2)

           Date      Open      High       Low     Close Adj Close      Volume
0  Jul 27, 2020  1,435.00  1,547.94  1,413.00  1,539.60  1,539.60  16,048,700
1  Jul 24, 2020  1,416.01  1,465.00  1,366.54  1,417.00  1,417.00  19,396,600

In [3]:
# Map the path where the input csv file is located
tweets_csv_file = "Output Data/musk_tweets.csv"

# Specify the delimiter to read and store the csv file into a Pandas DataFrame
tweets_df = pd.read_csv(tweets_csv_file, encoding = "UTF-8")

# Display the DataFrame columns
tweets_df.head(2)

,id,user,text,date,retweets,favorites
0,1287839317537284096,elonmusk,"Whether commercial or government, monopolies a...",2020-07-27 19:56:34+00:00,1873,13198
1,1287829529721962499,elonmusk,Sounds great,2020-07-27 19:17:41+00:00,135,4776

# Transform

### Clean the DataFrame to only contain select columns

In [4]:
# Select the columns that are needed for the data transformation
stocks_df = stocks_df[["Date", "Close", "Open", "High", "Low"]]

# Display the DataFrame columns
stocks_df.head(2)

           Date     Close      Open      High       Low
0  Jul 27, 2020  1,539.60  1,435.00  1,547.94  1,413.00
1  Jul 24, 2020  1,417.00  1,416.01  1,465.00  1,366.54

In [5]:
# Select the columns that are needed for the data transformation
tweets_df = tweets_df[["date", "text"]]

# Display the DataFrame columns
tweets_df.head(2)

,date,text
0,2020-07-27 19:56:34+00:00,"Whether commercial or government, monopolies a..."
1,2020-07-27 19:17:41+00:00,Sounds great

### Clean the DataFrame to only contain select rows

In [6]:
# Using dropna delete rows of data with missing attributes
tweets_df = tweets_df.dropna(how="any")

# Select tweets containing the word "esla". We used "esla" as the key word as he has spelled it as "Tesla" or "tesla"
tweets_df = tweets_df[tweets_df["text"].str.contains("esla")]

# Display the DataFrame columns
tweets_df.shape

(804, 2)

### Rename DataFrame columns

In [7]:
# Display the DataFrame column names
stocks_df.columns

Index(['Date', 'Close', 'Open', 'High', 'Low'], dtype='object')

In [8]:
# Display the DataFrame column names
tweets_df.columns

Index(['date', 'text'], dtype='object')

In [9]:
# Rename the columns using "inplace = True" to modify the data within the DataFrame
tweets_df.rename(columns = {"date":"Date", "text":"Tweet"}, inplace = True)

# Display the DataFrame columns
tweets_df.head(2)

,Date,Tweet
39,2020-07-26 01:55:54+00:00,Some of whom seriously think Tesla toppled the...
46,2020-07-25 10:04:25+00:00,Tesla will add a power lift gate at no cost

### Clean DataFrame data format

In [10]:
# Replace the commas in the strings with null. The regex (regular expression) should be set to True
stocks_df = stocks_df.replace(",", "", regex = True)

# Display the DataFrame columns
stocks_df.head(2)

          Date    Close     Open     High      Low
0  Jul 27 2020  1539.60  1435.00  1547.94  1413.00
1  Jul 24 2020  1417.00  1416.01  1465.00  1366.54

In [11]:
# Using astype cast the resulting strings to a float data type
stocks_df["Close"] = stocks_df["Close"].astype(float)
stocks_df["Open"] = stocks_df["Open"].astype(float)
stocks_df["High"] = stocks_df["High"].astype(float)
stocks_df["Low"] = stocks_df["Low"].astype(float)

# Display the DataFrame columns
stocks_df.head(2)

          Date   Close     Open     High      Low
0  Jul 27 2020  1539.6  1435.00  1547.94  1413.00
1  Jul 24 2020  1417.0  1416.01  1465.00  1366.54

### Add calculated columns to DataFrame

In [12]:
# Add a new column "Open_Close" by calculating the variance between the Closing and Opening stock values
stocks_df["Open_Close"] = stocks_df["Close"] - stocks_df["Open"]

# Add a new column "High_Low" by calculating the variance between the High and Low stock values
stocks_df["High_Low"] = stocks_df["High"] - stocks_df["Low"]

# Display the DataFrame columns
stocks_df.head(2)

          Date   Close     Open     High      Low  Open_Close  High_Low
0  Jul 27 2020  1539.6  1435.00  1547.94  1413.00      104.60    134.94
1  Jul 24 2020  1417.0  1416.01  1465.00  1366.54        0.99     98.46

### Reset DataFrame index

In [13]:
# Reset the index of the DataFrame using the drop parameter to avoid the old index being added as a column
stocks_df.reset_index(drop = True)

# Display the DataFrame columns
stocks_df.head(2)

          Date   Close     Open     High      Low  Open_Close  High_Low
0  Jul 27 2020  1539.6  1435.00  1547.94  1413.00      104.60    134.94
1  Jul 24 2020  1417.0  1416.01  1465.00  1366.54        0.99     98.46

In [14]:
# Reset the index of the DataFrame using the drop parameter to avoid the old index being added as a column
tweets_df.reset_index(drop = True)

# Display the DataFrame columns
tweets_df.head(2)

,Date,Tweet
39,2020-07-26 01:55:54+00:00,Some of whom seriously think Tesla toppled the...
46,2020-07-25 10:04:25+00:00,Tesla will add a power lift gate at no cost

In [15]:
# Import datetime as dt
tweets_df["Date"]=tweets_df["Date"].str[:10]
tweets_df = tweets_df.astype({"Date":'datetime64[ns]'})

# Display the DataFrame columns
tweets_df.head(2)

         Date                                              Tweet
39 2020-07-26  Some of whom seriously think Tesla toppled the...
46 2020-07-25        Tesla will add a power lift gate at no cost

In [16]:
# Changing the date column to datetime type
stocks_df = stocks_df.astype({"Date":'datetime64[ns]'})

# Display the DataFrame columns
stocks_df.head(2)

        Date   Close     Open     High      Low  Open_Close  High_Low
0 2020-07-27  1539.6  1435.00  1547.94  1413.00      104.60    134.94
1 2020-07-24  1417.0  1416.01  1465.00  1366.54        0.99     98.46

### Combine DataFrame

In [17]:
# Merge the two DataFrames using an inner join with "Date" as the key
tesla_df = pd.merge(stocks_df, tweets_df, how = "inner", on = "Date")

# Display the DataFrame columns
tesla_df.head(2)

,Date,Close,Open,High,Low,Open_Close,High_Low,Tweet
0,2020-07-24,1417.0,1416.01,1465.0,1366.54,0.99,98.46,Tesla solar panels are $1.49/Watt
1,2020-07-24,1417.0,1416.01,1465.0,1366.54,0.99,98.46,Thank you on behalf of the Tesla team. We look...

In [18]:
# Display the shape of the dataframe
tesla_df.shape

(542, 8)

In [19]:
# Save the dataframe in .csv file
tesla_df.to_csv ("Output Data/tesla_combined.csv", encoding = "utf-8",index = False, header=True)

# Load

### Connect to local database

In [20]:
# Read the combined DataFrame in csv format prior to loading it in Postgres
csv_path = "Output Data/tesla_combined.csv"
combined_df = pd.read_csv(csv_path)
combined_df.head(2)

,Date,Close,Open,High,Low,Open_Close,High_Low,Tweet
0,2020-07-24,1417.0,1416.01,1465.0,1366.54,0.99,98.46,Tesla solar panels are $1.49/Watt
1,2020-07-24,1417.0,1416.01,1465.0,1366.54,0.99,98.46,Thank you on behalf of the Tesla team. We look...

In [21]:
# Install psycopg2 if needed by unindenting it
# !pip install psycopg2

In [22]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')
from sqlalchemy import create_engine, Column, Integer, String

# Create Engine
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:5432')
connection = engine.connect()

### Create new database

In [23]:
# Create new database
connection.execute('commit')
connection.execute('CREATE DATABASE tesla_final_db')

### Use pandas to load csv converted DataFrame into database

In [24]:
# Create the engine and new DataBase
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:5432/tesla_final_db')
connection = engine.connect()

# new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)
tesla_df.to_sql(name='tesla', con=engine, if_exists='replace', index=False)