# Create HTML tables from csv files

In [ ]:
import pandas as pd

In [1]:
path1 = "Output Data/musk_tweets.csv"
path2 = "Output Data/tesla_stocks.csv"
path3 = "tesla_combined.csv"

## Call csv files

In [4]:
musk_tweets = pd.read_csv(path1)
tesla_stocks = pd.read_csv(path2)
tesla_combined = pd.read_csv(path3)

## 1st table of tweets

In [9]:
musk_tweets = musk_tweets.head()
musk_tweets_html = musk_tweets.head().to_html()
print(musk_tweets_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>user</th>
      <th>text</th>
      <th>date</th>
      <th>retweets</th>
      <th>favorites</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1287839317537284096</td>
      <td>elonmusk</td>
      <td>Whether commercial or government, monopolies are bad for the people</td>
      <td>2020-07-27 19:56:34+00:00</td>
      <td>1848</td>
      <td>13043</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1287829529721962499</td>
      <td>elonmusk</td>
      <td>Sounds great</td>
      <td>2020-07-27 19:17:41+00:00</td>
      <td>135</td>
      <td>4722</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1287828284852535301</td>
      <td>elonmusk</td>
      <td>Haha</td>
      <td>2020-07-27 19:12:44+00:00</td>
      <td>16</td>
      <td>1101</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1287824348460593154</td>
      <td>elonmusk</td>
      <td>Das Kapital in a nutshell</td>
      <td>2020-07-27 18:57:05+00:00</td>
      <td>43854</td>
      <td>258196</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1287822920966905858</td>
      <td>elonmusk</td>
      <td>What I like most is their great sense of humor</td>
      <td>2020-07-27 18:51:25+00:00</td>
      <td>1239</td>
      <td>32642</td>
    </tr>
  </tbody>
</table>

## 2nd table of stock prices

In [10]:
stocks_table = tesla_stocks.head().to_html()
print(stocks_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Jul 27, 2020</td>
      <td>1,435.00</td>
      <td>1,547.94</td>
      <td>1,413.00</td>
      <td>1,539.60</td>
      <td>1,539.60</td>
      <td>16,048,700</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Jul 24, 2020</td>
      <td>1,416.01</td>
      <td>1,465.00</td>
      <td>1,366.54</td>
      <td>1,417.00</td>
      <td>1,417.00</td>
      <td>19,396,600</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Jul 23, 2020</td>
      <td>1,678.95</td>
      <td>1,689.00</td>
      <td>1,480.77</td>
      <td>1,513.07</td>
      <td>1,513.07</td>
      <td>24,328,500</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Jul 22, 2020</td>
      <td>1,599.00</td>
      <td>1,626.42</td>
      <td>1,562.00</td>
      <td>1,592.33</td>
      <td>1,592.33</td>
      <td>14,161,100</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Jul 21, 2020</td>
      <td>1,639.93</td>
      <td>1,675.00</td>
      <td>1,558.00</td>
      <td>1,568.36</td>
      <td>1,568.36</td>
      <td>16,157,300</td>
    </tr>
  </tbody>
</table>

## 3rd table of combined data

In [5]:
combined = tesla_combined.head().to_html()
print(combined)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Close</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Open_Close</th>
      <th>High_Low</th>
      <th>Tweet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2020-07-24</td>
      <td>1417.00</td>
      <td>1416.01</td>
      <td>1465.0</td>
      <td>1366.54</td>
      <td>0.99</td>
      <td>98.46</td>
      <td>Tesla solar panels are $1.49/Watt</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2020-07-24</td>
      <td>1417.00</td>
      <td>1416.01</td>
      <td>1465.0</td>
      <td>1366.54</td>
      <td>0.99</td>
      <td>98.46</td>
      <td>Thank you on behalf of the Tesla team. We look forward to building Giga Texas!</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2020-07-23</td>
      <td>1513.07</td>
      <td>1678.95</td>
      <td>1689.0</td>
      <td>1480.77</td>
      <td>-165.88</td>
      <td>208.23</td>
      <td>We are actually looking for revolutionary actuaries for Tesla Insurance! Please inquire, if interested.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2020-07-15</td>
      <td>1546.01</td>
      <td>1543.00</td>
      <td>1550.0</td>
      <td>1457.00</td>
      <td>3.01</td>
      <td>93.00</td>
      <td>Great work by Tesla software engineering</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2020-07-14</td>
      <td>1516.80</td>
      <td>1556.00</td>
      <td>1590.0</td>
      <td>1431.00</td>
      <td>-39.20</td>
      <td>159.00</td>
      <td>Tesla Autopilot was literally named after the term used in aviation. Also, what about Autobahn!?</td>
    </tr>
  </tbody>
</table>